extends layout

block hero-unit
  #main_img.carousel.slide(data-ride="carousel", data-interval="3000")
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src="images/1.jpg", alt="First slide")
      .carousel-item
        img.d-block.w-100(src="images/2.jpg", alt="Second slide")
      .carousel-item
        img.d-block.w-100(src="images/3.jpg", alt="Third slide")
  #top_jumbo.jumbotron.text-center
    .container
      h1.display-3 Find Event!
      #big_search.row
        .col-lg-12
          .input-group
            form.form-inline.search-input-group(action='/questions', method='GET')
              i.fa.fa-search
              input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
  #small_search.row
    .col-lg-6.center-block
      .input-group
        form.form-inline.search-input-group(action='/questions', method='GET')
          i.fa.fa-search
          input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)
          #mid_term.container.text-center
      
block content
  .container
      //include ./questions/_question
      .card-box 
         if questions.total <= 0  
           .alert.alert-info No Event available yet 
         else
           .row.questions
             each question in questions.docs
               .col-md-4.col-sm-6
                 .question
                   .card.border-primary.mb-3(style='max-width: 20rem;')
                     .card-header
                      .title= question.title
                     .card-body.text-primary
                       h4.card-title
                        .content!= question.content
                       .card-text place in
                        .place=question.place

  .browse_button
    a.btn.btn-primary(href="/questions", role="button") Browse More Events!
     
  #more_item.container
    .row
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/accessory.jpg", alt="Responsive image")
          .overlay
            h2 in india
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/cap.jpg", alt="Responsive image")
          .overlay
            h2 with child
    .row
      .col-12.col-md-4
        .hovereffect
          img.img-fluid(src="./images/shirts.jpg", alt="Responsive image")
          .overlay
            h2 party!
      .col-12.col-md-4
        .hovereffect
          img.img-fluid(src="./images/jacket.jpg", alt="Responsive image")
          .overlay
            h2 freedom!
      .col-12.col-md-4
        .hovereffect
          img.img-fluid(src="./images/skirt.jpg", alt="Responsive image")
          .overlay
            h2 in mountain
    // Columns are always 50% wide, on mobile and desktop
    .row
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/pants.jpg", alt="Responsive image")
          .overlay
            h2 Fashion event!
      .col-12.col-md-6
        .hovereffect
          img.img-fluid(src="./images/shoes.jpg", alt="Responsive image")
          .overlay
            h2 

  
