.content= question.content
br
br
h6 
  | Event Start Time
  span.badge.badge-secondary 
    stime=question.stime
h6
  | Event End time
  span.badge.badge-secondary
    etime=question.etime
.row
  .col-sm
    .numbers.
      #[span.number.num-likes= question.numLikes] join this event,
      #[span.number.num-answers= question.numAnswers] answers,
      #[span.number.num-reads= question.numReads] reads
  .col-sm
    .author
      | upload on #{moment(question.createdAt).format('YYYY-MM-DD')}
      if question.author
        | 
        | by #[a(href=`/users/${question.author.id}`)= question.author.name] 
